#how_it_work  {
    height: 49.3125rem;
    color: #333333;
    padding-bottom: 70px;
}

#how_it_work h3{
    width: 976px;
    height: 57px;
    padding: 36px 0 106px 0;
    color: #333333;
}

#how_it_work h5{
    font-weight: bold;
    color: #BDBDBD;
    height: 28px;
}

#how_it_work h5 > span{
    font-weight: bold;
    width: 109px;
    height: 28px;
    padding-bottom: 0.5rem;
    color: #333333;
}

#how_it_work .overline_regular{
    font-weight: bold;
    color: #338FBF;
    padding-bottom: 0.25rem;
}

#how_it_work .body1{
    color: #333333;
    padding-bottom: 1.5rem;
    /*width: 27.625rem;*/
}

#how_it_work .list-p{
    padding-right: 58px;
}

#how_it_work  img{
    margin-left: 28px;
    padding-top: 46.78px;
}

#how_it_work .items{
    height: 104px;
    padding-bottom: 7.8rem;
}

#how_it_work .cif-p .row{
    padding: 0;
}

#how_it_work .cif-p .body1{
    padding-top: 33px;
    width:  477px;
}

#how_it_work .container .row .col-sm-6 .row{
    padding: 0;
    height: 48px;
}

#how_it_work .connect{
    width: 150px;
}

#how_it_work .i-1{width: 442px}
#how_it_work .i-2{width: 413px}
#how_it_work .i-3{width: 372px}
#how_it_work .i-4{width: 369px}
#how_it_work .i-5{width: 312px}
#how_it_work .i-6{width: 350px}
/*////////////////////////////////////*/
#example_of_use{
    /*height: 1254px;*/
    background: #F2F2F2;
}

#example_of_use .container .title{
    padding: 48px 0 60px 0;
}

#example_of_use h3{
    width: 930px;
    height: 114px;
    color: #000;
}

#example_of_use h5{
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    color: #000000;
    padding: 32px 0;
    width: 474px;
    /*height: 56px;*/
}

#example_of_use .container .item1{
    padding: 0 0 32px 0;
}

#example_of_use .container .item1 img{
    /*padding-bottom: 40px;*/
}

#example_of_use .container .item2{
    padding-bottom: 76px;
}

#example_of_use .align-bottom .body1{
    width: 309px;
    height: 72px;
    text-align: left;
    margin-top: 40px;
}

#example_of_use .list1 ul, .list2 ul{
    list-style:none;

}

#example_of_use  .body1{
    width: 400.81px;
    color: #000;
    line-height: 26px;
}

#example_of_use .group-image-1{
    width: 100%;
    height: 259px;
}

#example_of_use .group-image-2{
    width: 100%;
    height: 300px;
}

#example_of_use .img-1{
    background:  url("../../assets/img/smart.svg") 1rem 100% no-repeat;
    background-size: 88%;
}

#example_of_use .img-2{
    background:  url("../../assets/img/comp.svg")  1rem 100% no-repeat;
    background-size: 88%;
}

#example_of_use .img-3{
    background:  url("../../assets/img/tab.svg")  3rem 100% no-repeat;
    background-size: 66%;
}

#example_of_use .img-4{
    background:  url("../../assets/img/sleep.svg")  3rem 100% no-repeat;
    background-size: 55%;
}

#example_of_use .img-5{
    background:  url("../../assets/img/yawn.svg")  3rem 100% no-repeat;
    background-size: 55%;
}

#example_of_use .list1 , .list2{
    padding-left: 24px;
}

#example_of_use .container ul li span{
    color: #000;
}

#example_of_use .list1 li{
    list-style-image: url("../img/cross.svg");
}

#example_of_use .list2 li{
    list-style-image: url("../img/check.svg");
}


/*/////////////////////////////////////*/
/*////////////////////////////////////*/
#offer_to_connect{
    background: #338FBF  url("../img/cta.svg");
    background-repeat: no-repeat;
    background-position: -175% 10%;
    background-size: 77%;
    height: 18.25rem;
}

#offer_to_connect .container {
    margin: 0;
    padding-left: 362px;
    padding-top: 40px;
}

#offer_to_connect .col-sm-7 {
    padding-right: 6.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

#offer_to_connect h4{
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 160%;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    padding-top: 32px;
    padding-bottom: 16px;
}

#offer_to_connect .button_medium{
    width: 150px;
    height: 48px;
}
/*////////////////////////////////////*/
#cost {
    background: #F2F2F2;
    height: 591px;
}
#cost h2{
    padding-top: 48px;
    padding-bottom: 40px;
    color: #333333;
}
#cost img{
    width: 62.3%;
}
#cost .container .row .col-lg-1{
    /*background-color: #0c5460;*/
    /*border: 1px solid;*/
}
#cost h6,span {
    color: #338FBF;
}
#cost .container .row .col-lg-5,.col-lg-6{
    /*border: 1px solid;*/
}
#cost .container .row .col-lg-5 span{
    width: 329px;
    margin-left: 10%;
    display: block;
    padding-bottom: 44px;
}
#cost .connect {
    width: 150px;
    height: 42px;
}
#cost .down{
    margin-top: 40px;
}
#cost .b-r h6{
    color: #333333;
}
#cost .comment {
    font-size: 0.875rem;
    /*font-style:italic ;*/
    color: #9b9797;
}
#cost .text-center span {
    color: #333333;
    margin-left: 39px;
}
/*////////////////////////////////////*/
#partner{
    background-color: #fff;
    width: 100%;
}
#partner h2{
    text-align: center;
    color: #333333;
    padding: 48px 0;
}

/*////////////////////////////////////*/
footer{
    width: 100%;
    height: 6.8125rem;
    background: #338FBF  url("../../assets/img/vector_footer.svg");
    background-repeat: no-repeat;
    background-position: -12rem 25%;
    background-size: 100%;
    position: absolute;
    bottom: 0;
}
footer .navbar-light {
    background-color: #fff0;
}

footer footer .button_medium {
    margin-right: -1.4375rem;
    color: #fff;
}

footer .navbar-light {
    border: none;
    color: #fff;
}

footer .navbar-light .navbar-nav .nav-link {
    color: #fff;
}

footer a{
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
}

footer .button_medium{
    margin-right: -1.4375rem;
    color: #fff;
}

footer img{
    width: 3em;
}
/*//////////media/////////////////////*/

@media screen and (max-width: 992px){
    #how_it_work .items {
        height: auto;
        padding-bottom: unset;
    }
    #how_it_work .body1 {
        width: auto;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.25px;
        color: #333333;
        padding-bottom: 16px;
    }
    #how_it_work h5{
        font-size: 23px;
    }
    #how_it_work img {
        margin-left: 0px;
        width: 100%;
        padding-top: 0;
    }
    #how_it_work .list-p {
        padding-right: 0;
    }
    #how_it_work .list-p2 {
        padding-right: 0;
        padding-bottom: 16px;
    }
    #how_it_work .cif-p .row .align-self-center{
        text-align: center;
        margin-top: 8px;
        padding-bottom: 20px;
    }
    #how_it_work .cif-p .body1 {
        width: auto;
    }
    #how_it_work .i-1,#how_it_work .i-2,#how_it_work .i-3,#how_it_work .i-4,#how_it_work .i-5,#how_it_work .i-6 {width: 100%}
    #example_of_use .container .title {
        padding: 38px 0 60px 0;
    }
    #example_of_use .group-image-1 {
        width: 100%;
        height: 310px;
    }
    #example_of_use .group-image-2 {
        width: 100%;
        height: 245px;
    }
    #example_of_use .img-4 {
        background-size:  2rem 100%;
        background-size: auto;
        background-size: 77%;
    }
    #example_of_use .img-5 {
        background-size:  2rem 100%;
        background-size: auto;
        background-size: 77%;
    }
    #cost{height: 1045px;}
    #cost img {width: 35.3%;}
    #cost .container .row .col-lg-5 span {
        width: 329px;
        margin-left: 27%;
        display: block;
        padding-bottom: 32px;
    }
    #cost .b-r {width: 478px;}
    #cost .container .col-lg-5{
        text-align: left;
    }
    #cost .container .row .col-lg-5 span {
        width: 329px;
        margin-left: 0;
        display: block;
        padding-bottom: 32px;
    }
    #cost img {
        width: 55%;
    }
    #cost .justify-content-center .col-lg-6 {
        margin-top: 0;
        text-align: center;
        padding-left: 0;
    }
    #cost .text-center span {
        color: #333333;
        margin-left: 39px;
        width: 100%;
        display: block;
    }
    #cost .comment {
        font-size: 0.875rem;
        text-align: initial;
    }
    footer .button_medium {
        margin-right: 0;
    }
}
@media screen and (max-width: 800px){

    #how_it_work h3 {
        width: 100%;
    }
    #example_of_use h3 {
        width: 100%;
    }
    #offer_to_connect{
        height: 13.25rem;
        background-position: 3rem -2%;
        background-size: 100%;
    }
    #offer_to_connect .container {
        margin: 0;
        padding: 0 16px;
        max-width: 100%;
    }
    #cost{height: 1045px;}
    footer .button_medium {
        margin-right: 0;
    }


}
@media screen and (max-width: 768px){
    #how_it_work img {
        margin-left: 0px;
        /*width: 100%;*/
        width: 45%;
    }
    #how_it_work h3{
        width: 100%;
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.25px;
        color: #333333;
        margin: 0px 0px;
        padding: 32px 0 111px 0;
        text-align: left;
    }
    #how_it_work .items {
        height: auto;
        padding-bottom: unset;
    }
    #how_it_work .body1 {
        width: auto;
        /*padding-bottom: 32px;*/
    }
    #how_it_work .list-p {
        padding-right: 0;
    }
    #how_it_work .connect{
        width: 90%;
    }
    #example_of_use .container .item2 {
        padding-bottom: 32px;
    }
    #example_of_use{
        margin-top: 19rem;
    }
    #example_of_use h3{
        font-style: normal;
        font-weight: bold;
        font-size: 34px;
        line-height: 40px;
        text-align: center;
        letter-spacing: 0.25px;
        color: #000000;
        width: 100%;
    }
    #example_of_use .align-bottom .body1 {
        width: 100%;
        text-align: center;
    }
    #example_of_use .body1 {
        width: 100%;
    }
    #example_of_use .container .item1 img{
        padding-bottom: 16px;
    }
    #offer_to_connect{
        height: 568px;
        background: #338FBF  url("../img/center_vector.svg");
        background-repeat: no-repeat;
        background-position: 42% 8%;
        background-size: 191%;
    }
    #offer_to_connect .mess{
        width: 100%;
        display: block;
    }
    #offer_to_connect h4{
        padding-top: 16px;
        padding-bottom: 340px;
    }
    #offer_to_connect .container .row .col-sm-12{
        margin-top: 32px;
        /*width: 286px;*/
    }
    #offer_to_connect .container .row .col-sm-12 .btn{
        width: 100%;
    }
    footer .button_medium {
        margin-right: 0;
    }
}
@media screen and (max-width: 425px){
    #how_it_work .connect{
        width: 100%;
    }
    #how_it_work img {
        margin-left: 0px;
        width: 100%;

    }
    #example_of_use{
        margin-top: 32rem;
    }
    #example_of_use h5{
        width: 100%;
    }
    #offer_to_connect{
        background-repeat: no-repeat;
        background-position: 52% 5rem;
        background-size: 301%;
    }
    #offer_to_connect h4 {
        padding-top: 16px;
        padding-bottom: 300px;
    }
    #cost .justify-content-center .col-lg-6 {
        margin-top: 32px;
        padding-left: 0;
    }
    #cost .b-r {
        width: 100%;
    }
    #cost .float-left{
        text-align: left;
    }
    #cost .connect {
        width: 100%;
        height: 42px;
    }
    #cost .text-center span {
        margin-left: 0;
    }
    #cost .container .row .col-lg-5 span {
        width: 100%;
        margin-left: 0;
    }
    #cost img {
        width: 45%;
    }
    #cost {
        height: 875px;
    }
    footer .button_medium {
        margin-right: 0;
    }
}
@media screen and (max-width: 375px){
    #offer_to_connect h4 {
        padding-top: 16px;
        padding-bottom: 216px;
    }
    #cost{
        height: 1070px;
    }
    #cost h2 {
        font-size: 34px;
        line-height: 40px;
        padding-top: 32px;
        padding-bottom: 16px;
        color: #333333;
    }
    #cost .container .col-lg-5 {
        text-align: center;
    }
    #cost img {
        width: 100%;
    }
    #cost .b-r {
        text-align: left;
    }

    footer {
        background-position: -9rem 17%;
        background-size: 165%;
        width: 100%;
    }
    footer .button_medium {
        margin-right: 0;
    }
}
@media screen and (max-width: 320px){
    #example_of_use{
        margin-top: 39rem;
    }
    footer {
        background-position: -9rem 17%;
        background-size: 165%;
        width: 100%;
    }
    footer .button_medium {
        margin-right: 0;
    }
}
