html {
    min-height: 100%;
}

body{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    background-color: #fff;
    color: #333333;
}

.container{
    max-width: 1024px;
    min-width: 320px;
}

.row{
    margin: 0;
    /*padding: 0 24px;*/
}

.content{
    min-height: 74vh;
}

button:active, button:focus {
    outline: none;
}

button::-moz-focus-inner {
    border: 0;
}

.center{
    text-align: center;
}

.container-fluid{
    padding-left: 1.5rem;
    width: 100%;
}

[class*=container] {
    /*border: 1px solid #ccc;*/
}
/*////////////////////////////////////*/
.navbar-light {
    width: 100%;
    height: 65px;
    font-size: 0.875rem;
    text-transform: uppercase;
    border-bottom: 0.5rem solid #333333;
    padding: 0;
}
.navbar-expand-md .navbar-nav {
    background-color: #fff0;
}
.navbar-light .navbar-nav .nav-link{
    color: #338FBF;
}
.navbar-light ul{
    position: relative;
    z-index: 999;
    height: 4.5rem;
    /*height: 64px;*/
}
.navbar-light ul li{
    margin-top: 1rem;
}
.navbar-light .active{
    border-bottom: 0.5rem solid #338FBF;
}
.navbar-light .navbar-nav .show > .nav-link, .navbar-light
.navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
    color: #338FBF;
}
.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 0;
    margin-right: -3rem;
}
.logo strong {
    font-weight: 800;
    color:#000 ;
}
.connect {
    position: relative;
    border-radius: 1px;
    height: 3rem;
    border: #F2C94C;
    background: #F2C94C;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    outline: none !important;
}
/*////////////////////////////////////*/
header {
    color: #FFFFFF;
    width: 100%;
    height: 460px;
    background-color: #338FBF;
    background: #338FBF url("../../assets/img/Main.svg");
    background-repeat: no-repeat;
    background-position: 100% 0%;
    /*background-position:  bottom;*/
    background-size: 58%;
}

header h2{
    font-weight: 800;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 71px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    width: 369px;
    height: 142px;
}

header h4{
    font-family: Montserrat-Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;

    /* or 118% */
    letter-spacing: 0.25px;
}

header h2, h4{
    color: #FFFFFF;
}

header #connect {
    position: relative;
    height: 3em;
    background-color: #F2C94C;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 0.625em 1em ;
    top: -8em;
    color: #000;
    z-index: 999;
}
/*////////////////////////////////////*/
#how_it_work  {
    height: 49.3125rem;
    color: #333333;
}

#how_it_work h3{
    /*font-family: 'Montserrat', ExtraBold;*/
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 57px;
    width: 976px;
    height: 57px;
    padding: 36px 0 106px 0;
}

#how_it_work h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #BDBDBD;
    height: 28px;
}

#how_it_work h5 > span{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    width: 109px;
    height: 28px;
    padding-bottom: 0.5rem;
    color: #333333;
}

#how_it_work .overline_regular{

    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #338FBF;
    padding-bottom: 0.25rem;
}

#how_it_work .body1{
    color: #333333;
    padding-bottom: 1.5rem;
    width: 27.625rem;
}

#how_it_work .list-p{
    padding-right: 23px;
}

#how_it_work .list-p2{
    /*padding-right: 58.7px;*/
    padding-right: 3.625rem;
}

#how_it_work  h4 {
    font-size: 1rem;
    width: 80%;
}

#how_it_work  img{
    margin-left: 2.9375rem;
    padding-top: 2.875rem;
}

#how_it_work .items{
    height: 104px;
    padding-bottom: 7.8rem;
}
/*////////////////////////////////////*/
#example_of_use{
    background: #F2F2F2;
}

#example_of_use h3{
    color: #000;
    padding-bottom: 3.875rem;
}

#example_of_use h5{
    color: #000;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    /*padding-bottom: 32.28px;*/
    padding-bottom: 2rem;
}

#example_of_use .item1{
    padding-bottom: 5.125rem;
}

#example_of_use .item2{
    padding-bottom: 5.25rem;
}

#example_of_use img{
    padding-bottom: 2.5rem;
}

#example_of_use ul{

    letter-spacing: 0.25px;
    color: #000000;
    list-style: none;
}

#example_of_use .list1 ul, .list2 ul{
    list-style:none;
}

#example_of_use .list1 li{
    list-style-image: url("../img/cross.svg");
}

#example_of_use .list2 li{
    list-style-image: url("../img/check.svg");
}

#example_of_use .list1 li:before {
    /*content: "✖";*/
}

#example_of_use .list2 li:before {
    /*content: "✔";*/
}

#example_of_use ul li {
    color: #338FBF;
}

#example_of_use ul li span {
    color: #000;
}
/*////////////////////////////////////*/
#offer_to_connect{
    background: #338FBF  url("../img/cta.svg");
    background-repeat: no-repeat;
    background-position: -31em -3.7em;
    background-size: 71%;
    height: 18.25rem;
}

#offer_to_connect .col-sm-7 {
    padding-right: 6.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2rem;
}

#offer_to_connect h4{
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 160%;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: left;
}

#offer_to_connect h4{
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 160%;
    letter-spacing: 0.25px;
    color: #FFFFFF;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
/*////////////////////////////////////*/
#cost{
    background-color: #F2F2F2;
    height: 36.9375rem;
}

#cost h2{
    color: #000;
    text-align: center;
    padding-bottom: 2.5rem;
}

#cost h6{
    color: #338FBF;
}

#cost img{
    width: 100%;
}

#cost span{
    color: #338FBF;
}

#cost .b-r{
    color: #333333;
}

#cost p {
    font-size: 1.25rem;
    font-weight: unset;
}

#cost .row {
    margin-left: 0;
}

#cost .btn{
    /*padding-right: 16px;*/
}

#cost .comment{
    font-size: 0.875rem;
     /*font-style:italic ;*/
    color: #9b9797;
}
/*////////////////////////////////////*/
#partner{
    background-color: #fff;
    width: 100%;
}

#partner h2{
    text-align: center;
    color: #333333;
}
/*////////////////////////////////////*/
#contacts{
    height: 30.5625rem;
    background: #E5E5E5;
}

#contacts h2,.body1{
    color: #000;
}

#contacts .map{
    max-height: 30.5625rem;
}
/*////////////////////////////////////*/

#login{
    height: 26.5625rem;
}

/*////////////////////////////////////*/
footer{
    width: 100%;
    height: 6.8125rem;
    background: #338FBF  url("../../assets/img/vector_footer.svg");
    background-repeat: no-repeat;
    background-position: -21rem -18.5em;
    background-size: 100%;
    position: absolute;
    bottom: 0;
}

footer .navbar-light {
    border: none;
    color: #fff;
}

footer .navbar-light .navbar-nav .nav-link {
    color: #fff;
}

footer a{
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1rem;
}

footer .button_medium{
    margin-right: -1.4375rem;
    color: #fff;
}

footer img{
    width: 3em;
}
/*////////////////////////////////////*/
/*@media (max-width: 760px) {*/
@media (max-width: 47.5rem) {

    .navbar-expand-md .navbar-nav {
        background-color: #fff;
        margin: 1rem -1rem 0 -1rem;
        padding: 0 10vw 0 10vw;
        z-index: 999;
        height: 15rem;
    }
    .navbar-light .navbar-toggler {
        margin: 0 0 0 0;
    }
}

/*@media (max-width: 800px) {*/
@media (max-width: 50rem) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }

    header{
        background-position-x: -4em;
        background-position-y: 16em;
        background-size: 132%;
    }

    header h2,h4{
        text-align: center;
    }

    header #connect {
        top: -4em;
        font-size: 0.875em;
        width: 100%;
    }

    .logo {
        position: relative;
        left: 0;
    }

    #how_it_work  {
        height: 87.8125rem;
    }

    #how_it_work .body1{
        width: 90vw;
        padding-bottom: 1rem;
        padding-top: 0.5rem;
    }

    #how_it_work  img{
        width: 18rem;
        padding: 0 0 1.375rem 0;
        margin: 0;
    }

    #example_of_use h2{
        padding: 3rem 0 0 0;
        margin: 0 0 0 2rem;
        font-size: 2.125rem;
    }

    #example_of_use h3{
        font-weight: bold;
        text-align: center;
        letter-spacing: 0.25px;
    }

    #offer_to_connect{
        background-position-x: -10em;
        background-position-y: 14.5em;
        background-size: 207%;
        height: 35.5rem;
    }

    #offer_to_connect .col-sm-7 {
        padding-left: 1.0625rem;
        padding-right: 1.0625rem;
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    #offer_to_connect h4{
        font-weight: bold;
        font-size: 1.125rem;
        line-height: 160%;
        letter-spacing: 0.25px;
        color: #FFFFFF;
        padding-top: 2rem;
        padding-bottom: 7.5625rem;
        text-align: left;
    }

    #offer_to_connect .connect{
        width: 100%;
        margin-top: 20%;
    }

    #cost h2{
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    #cost{
        height: 100%;
    }

    #cost .btn{
        width: 100%;
    }

    #cost .row{
        width: 100%;
    }

    #contacts {
        height: calc(30.5625rem *2);
    }
    #contacts .map{
       padding: 0;
        margin-left: -3%;
    }


    footer{
        background-size: 195%;
        background-position: -12rem -6.5rem;
    }

    footer .logo{
        margin-left: -0.8125rem;
    }

    footer a {
        /*margin-left: -3em;*/
    }

    .swiper-slide{
        /*background-position: -31em -3.7em;*/
        /*background-size: 71%;*/
    }

}
/*////////////////////////////////////*/
.simple-slider .swiper-slide {
    /*height: 31.25rem;*/
    height: 31.95rem;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-size: 100%;
    background-position: center;
}

.simple-slider img{
    width: 100%;
    margin-top: -1.6875rem;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    width: 2%;
    margin-left: 0;
    margin-right: 0;
}

@media (max-width:47.9375rem) {
    .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
        display: none;
    }
}

@media (max-width:47.9375rem) {
    .simple-slider .swiper-slide {
        height: 22.5rem;
    }
}
