.navbar{
    padding: 0
}
.navbar > .container{
    max-width: 1024px;
    min-width: 320px;
    padding: 0 24px;
}
.navbar-light {
    width: 100%;
    height: 53px;
    font-size: 0.875rem;
    text-transform: uppercase;
    border-bottom: 0.5rem solid #333333;
    background-color: #fff;
}
.navbar-light .navbar-toggler {
    border: none;
}
.navbar-light ul li{
    margin-top: 12px;
}
.navbar-light .active{
    border-bottom: 0.5rem solid #338FBF;
}
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link {
    color: #333333;
}
.navbar-brand{
    font-family: Montserrat,Regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    color: #000000;
}
/*////////////////////////////////////*/
header {
    color: #FFFFFF;
    width: 100%;
    height: 460px;
    background-color: #338FBF;
    background: #338FBF url("../../assets/img/Digital_pasport.svg") ;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    background-size: 100%;
}
header h2{
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 71px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    width: 369px;
    height: 142px;
    margin-bottom: 0;
}
header h4{
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
    margin-bottom: 0;
}
header h2, h4{
    color: #FFFFFF;
}
header .container .row .col-sm-6 h2 {
    padding-top: 43px;
}
header .container .row .col-sm-6 h4 {
    padding-top: 43px;
}
header .connect {
    width: 150px;
    height: 48px;
    background-color: #F2C94C;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
    border: none;
    padding: 0.625em 1em ;
    z-index: 999;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    color: #333333;
}
header #connect{
    padding-top: 53px;
}
@media screen and (max-width: 992px){
    .navbar-brand{
        font-family: Montserrat,Regular;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.65px;
        text-transform: uppercase;
        color: #000000;
    }
    .row{
        margin: 0;
        /*padding: 0 16px;*/
    }
    .navbar > .container {
        max-width: 100%;
        min-width: 320px;
        padding: 0 16px;
    }

    header {
        background-position: 0% 100%;
        background-size: 100%;
    }
    header h2 {
        font-style: normal;
        font-weight: 800;
        font-size: 48px;
        line-height: 57px;
        /*text-align: center;*/
        color: #FFFFFF;
        flex: none;
        order: 0;
        margin: 0px 0px;
        width: 100%;
    }
    header h4 {
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        /*text-align: center;*/
        color: #FFFFFF;
        flex: none;
        order: 2;
        margin: 0px 0px;
        width: 100%;
    }

}
@media screen and (max-width: 800px){
    #example_of_use {
        margin-top: 32rem;
    }
}
@media screen and (max-width: 767px){
    .navbar-light {
        height: auto;
        padding: 14px 0;
    }
}

@media screen and (max-width: 425px){
    header{
        height: 542px;
        background-position: 91% 160%;
        background-size: 217%;
    }
    header .container .row .justify-content-center{
        text-align: center;
    }

    header .container .row .col-sm-6 h2 {
        padding-top: 32px;
    }
    header .container .row .col-sm-6  h4 {
        padding-top: 0;
        margin: 8px 22px;
        width: 85%;
    }
    header #connect{
        /*padding-top: 256px;*/
        padding-top: 250px;
    }
    header .connect {
        width: 100%;
    }
}
@media screen and (max-width: 375px){
    header{
        background-position: 90% 142%;
        background-size: 230%;
    }
}
@media screen and (max-width: 320px){
    header{
        background-position: 89% 121%;
        background-size: 230%;
    }
}
