h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 96px;
    line-height: 112px;
    letter-spacing: -1.5px;
    color: #C4C4C4;
}

h2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 71px;
    letter-spacing: -0.5px;
    color: #C4C4C4;
}

h3{
    ont-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 57px;
    color: #C4C4C4;
}

h4{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
    color: #C4C4C4;
}
h5{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #C4C4C4;
}

h6{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #C4C4C4;
}

.subtitle1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.15px;
    color: #C4C4C4;
}

.subtitle2{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    /*font-size: 14px;*/
    /*line-height: 24px;*/
    /*letter-spacing: 0.1px;*/
    font-size: 0.875rem;
    line-height: 1.5rem;
    letter-spacing: 0.1px;
    color: #C4C4C4;
}

.body1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    /*font-size: 16px;*/
    /*line-height: 24px;*/
    /*letter-spacing: 0.25px;*/
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.25px;
    color: #C4C4C4;
}

.body2{
    ont-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    /*font-size: 14px;*/
    /*line-height: 20px;*/
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.25px;
    color: #C4C4C4;
}

.mess{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    /*font-size: 18px;*/
    font-size: 1.125rem;
    line-height: 160%;
    letter-spacing: 0.25px;
    color: #FFFFFF;
}

.button_medium{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    /*font-size: 14px;*/
    /*line-height: 16px;*/
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.65px;
    text-transform: uppercase;
    color: #C4C4C4;
}

.caption_regular{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    /*font-size: 12px;*/
    /*line-height: 16px;*/
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.4px;
    color: #C4C4C4;
}

.overline_regular{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    /*font-size: 10px;*/
    /*line-height: 16px;*/
    font-size: 0.625rem;
    line-height: 1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #C4C4C4;
}

.setelem_block{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    /*font-size: 12px;*/
    /*line-height: 16px;*/
    font-size: 0.75rem;
    line-height: 1rem;
    t-size: 0.75rem;
    line-height: 1rem;
    color: #C4C4C4;
}
.setelem_heading{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    /*font-size: 10px;*/
    /*line-height: 16px;*/
    font-size: 0.625rem;
    line-height: 1rem;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #C4C4C4;
}

.setelem_arrow{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    /*font-size: 12px;*/
    /*line-height: 16px;*/
    font-size: 0.75rem;
    line-height: 1rem;
    color: #C4C4C4;
}
@media (max-width: 50rem) {
    h2{
        font-weight: 800;
        /*font-size: 48px;*/
        /*line-height: 57px;*/
        font-size: 3rem;
        line-height: 3.5625rem;
    }

    h3{
        /*font-size: 34px;*/
        /*line-height: 40px;*/
        font-size: 2.125rem;
        line-height: 2.5rem;

        /* or 118% */
        text-align: center;
        letter-spacing: 0.25px;
    }

    h4{
        /*font-size: 24px;*/
        /*line-height: 28px;*/
        font-size: 1.5rem;
        line-height: 1.75rem;
    }
}
