html {
  position: relative;
  min-height: 100%;
}

body{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  background-color: #fff;
  color: #333333;
}

h1{
  font-weight: 800;
  font-size: 3.75em;
  line-height: 1em;
  text-align: center;
  letter-spacing: -0.5px;
}

h2{
  font-size: 30px;
  letter-spacing: -0.5px;
  line-height: 1.5em;
  font-weight: bold;
}

.navbar {
  width: 100%;
  height: 4rem;
  background: #FFFFFF;
  font-size: 0.875rem;
  text-transform: uppercase;
  border-bottom: 8px solid #333333;
}

.nav {
  margin-left: auto;
}

.logo {
  margin: 0 24px 0 0;
  font-size: 0.875rem;
}

.logo strong {
  font-weight: 800;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
}

header {
  color: #FFFFFF;
  width: 100%;
  height: 33.55em;
  background: #338FBF;
  background: #338FBF url("../../assets/img/bg.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-size: 55%;
}

header h1{
  color: #FFFFFF;
}

header h2{
  font-size: 2.125rem;
  line-height: 2.5rem;
  letter-spacing: 0.25px;
  color: #FFFFFF;
}

header #connect {
  position: relative;
  height: 3em;
  background-color: #F2C94C;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 0.625em 1em ;
  top: -8em;
  color: #000;
  z-index: 999;
}

#how_it_work .title {
  padding: 4rem 0 4rem 0;
}

#how_it_work  .list-p .items span {
  font-size: 0.75rem;
  line-height: 1rem;
  color: #338FBF;
}

#how_it_work  .list-p .items h2 span {
  color: #BDBDBD;
  font-size: 1.5rem;
}

#how_it_work .items {
  padding-bottom: 1.5em;
  height: 5.25em;
}

#how_it_work .items, h2 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1rem;
  color: #333333;
}

#how_it_work .items p {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.25px;
}

#how_it_work .items img {
  width: 67%;
  margin: 0 0 0 4rem;
}

.connect {
  position: relative;
  width: 9.375rem;
  height: 3rem;
  border: #F2C94C;
  background: #F2C94C;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

#how_it_work .bottom h4 {
  font-size: 1rem;
  width: 80%;
}

#how_it_work .bottom img{
  width: 25em;
}

#how_it_work .img-b{
  background: url("../../assets/img/andata_lines.png");
  background-repeat: no-repeat;
  background-position-x: 48%;
  background-size: 45%;
  background-position-y: -0.4em;
  height: 8em;
}

#example_of_use{
  background: #F2F2F2;
}

#example_of_use .title{
  min-height: 13em;
}

#example_of_use .item1{
  margin: 7em 0 0 0;
  padding-bottom: 6.6875rem;
}

#example_of_use h2{
  width: 70%;
  height: 7.125rem;
  font-weight: 800;
  font-size: 3rem;
  line-height: 3.5625rem;
  text-align: center;
  margin: 0 0 0 12rem;
}

#example_of_use h4{
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.75rem;
  width: 17.125rem;
}

#example_of_use .item1 col*{
  width: 100%;
}

#example_of_use ul{
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.25px;
  color: #000000;
  list-style: none;
}

#example_of_use .list1 li:before {
  content: "✖";
}

#example_of_use .list2 li:before {
  content: "✔";
}

#example_of_use ul li {
  color: #338FBF;
}

#example_of_use ul li span {
  color: #000;
}

#offer_to_connect{
  background: #338FBF  url("../../assets/img/bg_vector.png");
  background-repeat: no-repeat;
  background-position: -31em -0.5em;
  background-size: 83%;
  height: 18.25em;
  color: #fff;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 160%;
  letter-spacing: 0.25px;
}

#cost{
  background-color: #F2F2F2;
  height: 36.9375rem;
}

#cost h2{
  color: #338FBF;
  font-size: 2em;
}

#cost img{
  width: 20em;
}

#cost span{
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.5rem;
  text-align: center;
  letter-spacing: 0.15px;
  color: #338FBF;
}

#cost p {
  font-size: 1.25rem;
  font-weight: unset;
}

#partner{
  background-color: #fff;
  width: 100%;
}

#partner h1{
  font-weight: 800;
  font-size: 3.75rem;
  line-height: 4.4375rem;
  text-align: center;
  letter-spacing: -0.5px;
  color: #333333;
}

.comment{
  font-size: 14px;
  color: #666262;
}

footer{
  width: 100%;
  background: #338FBF  url("../../assets/img/bg_vector.png");
  background-repeat: no-repeat;
  background-position: -6em -5.5em;
  background-size: 90%;
  height: 6.8125rem;
}
footer a{
  color: #fff;
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1rem;
}

footer img{
  width: 3em;
}

@media (max-width: 50rem) {
  .navbar-expand-md .navbar-nav {
    margin-top: 1rem;
    background-color: #fff;
    margin: 0 -1rem 0 -1rem;
    padding: 0 10vw 0 10vw;
    z-index: 999;
    position: relative;
  }

  .navbar-light .navbar-toggler {
    margin: 0 0 0 0;
  }

  header{
    background-position-x: -4em;
    background-position-y: 16em;
    background-size: 132%;
  }

  header h1{
    font-size: 3rem;
    line-height: 3.5625rem;
  }

  header h2{
    font-size: 2rem;
    line-height: 1.75rem;
  }

  header #connect {
    top: -4em;
    font-size: 0.875em;
    width: 100%;
  }

  #how_it_work{
    width: 100%;
    padding: 0 1px 0 1rem;
  }


  #how_it_work .items {
    height: 7.25em;
    padding-top: 1em;
  }

  #how_it_work .title{
    padding: 2rem 0 0 0;
  }

  #how_it_work .bottom h4 {
    font-size: 1rem;
    margin-top: 2rem;
  }

  #how_it_work .bottom img{
    width: 15em;
  }

  #how_it_work .img-b {
    background-position-x: 48%;
    background-size: 72%;
    background-position-y: 72%;
    height: 8em;
  }

  #how_it_work .connect {
    font-size: 0.875em;
  }

  #example_of_use h2{
    padding: 3rem 0 0 0;
    margin: 0 0 0 2rem;
    font-size: 2.125rem;
  }

  #offer_to_connect{
    background-position-x: -10em;
    background-position-y: 14.5em;
    background-size: 207%;
    height: 27.5rem;
  }
  #offer_to_connect .connect{
    width: 100%;
    margin-top: 20%;
  }
  #cost{
    height: 100%;
  }
  #cost .row{
    margin-left: -0.5625rem;
    width: 100%;
  }
  footer{
    background-position-y: 1.5em;
    background-size: 168%;
  }

  footer a {
    margin-left: -3em;
  }
}

.simple-slider .swiper-slide {
  height: 31.25rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 3.125rem;
  margin-left: 1.25rem;
  margin-right: 1.25rem;
}

@media (max-width:47.9375rem) {
  .simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
    display: none;
  }
}

@media (max-width:47.9375rem) {
  .simple-slider .swiper-slide {
    height: 22.5rem;
  }
}
